<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0;" />
    <meta name="format-detection" content="telephone=no" />
    <style>
      @font-face {
        font-family: noto-sans;
        src: url("../public/fonts/noto-sans/NotoSans-Regular.ttf");
      }

      body {
        font-family: noto-sans;
        color: #0e0e10;
      }

      .button {
        border: 1px solid #0e0e10;
        font-weight: bold;
        text-decoration: none;
        background-color: #0e0e10;
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 30px;
      }
    </style>
    <title>CORREO</title>
  </head>

  <body>
    <table
      style="font-size: 100%; max-width: 38rem; margin: auto"
      width="100%"
      cellpadding="0"
      cellspacing="0"
    >
      <tbody>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <table style="width: min(max(90%, 1.9vw), 90%); margin: auto">
              <tbody>
                <tr>
                  <td style="padding-top: 1rem; text-align: center">
                    <span style="font-size: 25px; font-weight: bold"
                      >Registro de usuario</span
                    >
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 2rem; padding-bottom: 2rem">
                    <span>
                      Hola @NAME, hemos creado correctamente su cuenta de
                      usuario, para activarla y poder acceder debe dar clic en
                      el siguiente botón.
                    </span>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 2rem; text-align: center">
                    <a href="<URL_REDIRECCION>" target="_blank" class="button">
                      Confirmar registro
                    </a>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: center; padding-top: 1rem">
                    <span>
                      Si has recibido este correo por error, equivocación u
                      omisión no realices ningún cambio. En tal caso, favor
                    </span>
                    <span style="font-weight: bold">
                      notificar al remitente.
                    </span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center">
                    <hr />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding-top: 1rem">
            <p
              style="
                font-family: Helvetica;
                margin: 10px;
                line-height: 20px;
                font-size: 0.7em !important;
                text-align: center;
              "
            >
              Este mensaje se ha enviado automáticamente, por favor, no
              respondas. Si ya recibiste este e-mail te pedimos disculpas por
              las molestias ocasionadas. © Copyright 2023, Heippi Todos los
              derechos reservados.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
